<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="centrado">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img style="border-radius: 2rem;" alt="Silhouette of mountains" src="https://s1.eestatic.com/2015/02/28/cocinillas/cocinillas_14508670_116097585_1706x960.jpg" />
    <ion-card-header>
      <ion-card-title class="centrado">Tengo Hambre</ion-card-title>

    </ion-card-header>
  
    <ion-card-content [formGroup]="loginForm">

      <ion-input [(ngModel)]="emailValue" formControlName="email" label="Correo" label-placement="floating" fill="solid" placeholder="asdsdad@duocuc.cl" type="email"></ion-input>
      <ion-text position="stacked" color="danger" *ngIf="loginForm.get('email')?.hasError('required')">
        Este campo es requerido.</ion-text>
      <ion-text position="stacked" color="danger" *ngIf="loginForm.get('email')?.hasError('email')">
        Ingrese un email válido.</ion-text>      


      <ion-input [(ngModel)]="passwordValue" formControlName="password" label="Contraseña" label-placement="floating" fill="solid" placeholder="12345678" type="password" >
        <ion-button fill="clear" slot="end" aria-label="Show/hide">
          <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-input>
      <ion-text position="stacked" color="danger" *ngIf="loginForm.get('password')?.hasError('required')">
        la contraseña es requerida
      </ion-text>
      <ion-text position="stacked" color="danger" *ngIf="loginForm.get('password')?.hasError('minlength')">
        la Contraseña debe tener minimo 6 caracteres
      </ion-text>

      <ion-button expand="block" (click)="login()">Ingresar</ion-button>

      <ion-button expand="block" (click)="register()">Registrate</ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
